<%= render 'form', message: @message %>

<legend>Customer Testimonials</legend>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <h5>
            <strong>D. Cerrone, Detroit MI</strong>
        </h5>
        <p class="text-justify">
            <em>"WSC is a lifesaver! My son’s baseball trophy was broken during our move to a new town and we knew he would be devastated when he saw it. My husband and I ordered him a new one from WSC and it was perfect"</em>
        </p>
        <h5>
            <strong>B.J. Penn, Seattle WA</strong>
        </h5>
        <p class="text-justify">
            <em>"My father’s 60 th birthday was last week, and about a month before that my wife and I ran into him at a local shopping center. He was looking for a new jacket but couldn’t find anything he liked so we got one for him from WSC with his military rank insignia on it and he loves it! The jacket is of high-quality and the embroidery is perfect."</em>
        </p>
        <h5>
            <strong>J. Jones, Salt Lake City UT</strong>
        </h5>
        <p class="text-justify">
            <em>"We bought our first house earlier this year and I wanted a ‘date established’ personalized plaque to hang near our doorbell. WSC has exactly what I was looking for and it only took a couple of minutes to create the design I had been picturing. Their prices are remarkably low compared to other businesses offering similar products."</em>
        </p>
    </div>
    <div class="col-md-6 col-sm-6">
        <h5>
            <strong>F. Mir, Galveston TX</strong>
        </h5>
        <p class="text-justify">
            <em>"I planned a trip for my family planned a trip to Disney World and wanted some matching t-shirts that really stood out. When we found WSC we couldn’t believe it – they have themes for just about everything and we found exactly what we were looking for! Thanks WSC."</em>
        </p>
        <h5>
            <strong>C. Weidman, Tipton NY</strong>
        </h5>
        <p class="text-justify">
            <em>"My boss wanted a plaque honoring all the employees that were still with him for the upcoming 20th anniversary of the opening of his business. After checking a few sites I found WSC and knew I had found the right place. The plaque and the engravings look amazing!"</em>
        </p>
        <h5>
            <strong>V. Belfort, Chicles ID</strong>
        </h5>
        <p class="text-justify">
            <em>"I am a [very] small business owner and I wanted to reward my employees with something different but useful as a thank you for their hard work last year. WSC’s selection made it easy. I found some very nice jackets and I was able put our company logo and their names on them and they look great!"</em>
        </p>
    </div>
    </div>
</div>
    <div class="text-center">
        <h5>
            <strong>A Gustafsson, Abilene TX</strong>
        </h5>
        <p>
            <em>Great price and looks great – 5 stars!!!</em>
        </p>
    </div>
