<div id='customer-support' class='row'>
    <h1 class='text-center'>Williams Specialty Company</h1>
    <h2 class='text-center'>Customer Support</h2>
    <br>
    <div class="row">
        <div class='col-md-6 col-sm-6'>

            <h3>Our Policies</h3>
            <dl>
                <dt>Shipping & Delivery</dt>
                <dd>We use UPS Ground as a default shipping option. If you would like to receive your product sooner, please select from the shipping and delivery options provided before you submit your order.</dd>
                <br>
                <dt>Easy Returns</dt>
                <dd>For returns, please use the return to label provided with your order. If you did not receive the return label, please use the address below:</dd>
                <br>
                        <small><strong>WSC</strong></small><br>
                        <small>1234 W Street AVE</small><br>
                        <small>CHICAGO, IL 60XXX</small><br>

                <br>
                <dt>Tracking Your Order</dt>
                <dd>All submitted orders will be provided an order number. Use the order number to modify or track your order status. Please allow 7-10 days for order status to show delivery or tracking information.</dd>
                <br>
                <dt>Money Back Guarantee</dt>
                <dd>If the order you receive is not 100% exactly how you ordered it, we will refund you a full 100% or create the same order free of charge.</dd>
                <br>
                <dt>100% Secure Ordering</dt>
                <dd>All credit card information is deleted once order is processed. We contain all payment information on a secure SSL server.</dd>
                <br>
            </dl>
        </div>
        <div class='col-md-6 col-sm-6'>
            <h3>Privacy Policy</h3>
            <p>All details are strictly confidential and encrypted. No information is shared outside of our order database.</p>

            <h3>FAQ</h3>
            <dl>
                <dt>Q. How much time will I have to modify my order?</dt>
                <dd>A. You will have 7 days to modify the order. After 7 days, all order modifications are subject to charge.</dd>
                <br>
                <dt>Q. What if I cancel my order after 7 days?</dt>
                <dd>A. All orders cancelled after 7 days are subject to a 10% surcharge of the total order, excluding taxes and shipping charges.</dd>
                <br>
                <dt>Q. What if my order comes damaged?</dt>
                <dd>A. We offer 100% money back guarantee. Please use the return label and provide pictures of damages product. Send it back for a full refund.</dd>
                <br>
                <dt>Q. What if I need my order faster than the shipping options available?</dt>
                <dd>A. Please submit order and provide in the comments section how fast you will need it. We will contact you with options to provide. However, options may not be available. Your credit card will not be charged until we process order.</dd>
                <br>
                <dt>Q. When is my credit card charged?</dt>
                <dd>A. Your payment will not be charged until we process order and provide tracking details.</dd>
            </dl>
        </div>
    </div>
</div>
