<hr>
<div>
    <p id="footerController" class='text-center'>Developed by E. Okic, A. Ranga, J. Morelli, D. Harris, and P. King.
    <br>
    Copyright 2017©.
    </p>
    <br>
    <br>
    <br>
</div>
